wp-admin/
wp-includes/
wp-*.php
xmlrpc.php
index.php
.htaccess
license.txt
readme.html
.idea/

wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/happybreak/

!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/happybreak-clients-import/